.formContainer {
    position: absolute;
    top: 35.5%;
    /* left: 25%; */
    right: 5%;
    width: 70%;
    height: 63%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* background: #F5F5F5; */
    background: #FFFFFF;
    border: 1px solid #f0dfdf;
}


/* .blue-color{
    /* background: #6AB4F8; * */


#formContainerForPropertyDetails {
    height: 120%;
}

#formContainerForGeneralInfo {
    height: 59%;
}

.column {
    display: grid;
    gap: 8%;
    width: 25%;
    background-color: inherit;
    padding: 2%;
}

.WideInput {

    width: 200%;
    margin: 2%;
    height: 120%;
    padding-left: 2%;
    border: 1px solid #C3C3C3;
    border-radius: 8px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300px;
    font-size: 18px;
    line-height: 23px;
    background-color: inherit;
    /* color: #7D7D7D; */

}

.WideLabel {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    /* color: #7D7D7D; */
    background-color: inherit;
}

.inputSection {
    background-color: inherit;

    display: grid;
    gap: 5%;
}

.buttons {

    flex-direction: row;
    /* background-color: inherit; */
    background: #FFFFFF;

    position: relative;
    left: 36.88%;
    top: 52.07%;
    display: flex;
    gap: 4%;
    
    width: 37%;
}

button {
    box-shadow: 0px 13px 25px rgba(214, 209, 209, 0.15);
    background: #FFFFFF;

    border-color: inherit;
    background-color: inherit;

    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 500px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#buttonsForPropertyDetails {
    top: 87.07%;
    background-color: inherit;
    background: #FFFFFF;


}

#buttonsForGeneralInfo {
    top: 46.07%;
    background-color: inherit;
    background: #FFFFFF;


}

.button1 {
    background-color: inherit;

    background: #6AB4F8;
}

.button2 {
    background-color: inherit;

    background: #4C57B6;
}
a{
    text-decoration: none;
}