.sign-in-parent {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #E1F9F4;
}

.sign-in-form-container {
  padding: 2.5rem;

  border-radius: 10px;
  background-color: white;
  position: relative;

}

.sign-in-form-container h1 {
  margin-top: 5vh;
  margin-left: 1vw;
}

.sign-in-form-container p {
  margin-top: 5vh;
  margin-left: 1vw;
}

.sign-in-form-container input {
  display: block;
  height: 6vh;
  width: 24vw;
  margin-left: 0vw;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  margin-top: 1vh;
}

.sign-in-form-container button {
  font-size: medium;
  display: block;
  height: 6vh;
  width: 24vw;
  margin-left: 0vw;
  border-radius: 3px;
  border: 0px white;
  margin-top: 1vh;
  cursor: pointer;
  background-color: #4c57b6;
  color: white;
}
.para {
  margin-top: 2rem;
}

